This is a recreation of datasets and logic in Machanavajjhala, Ashwin, et al. "l-diversity: Privacy beyond k-anonymity." Acm transactions on knowledge discovery from data (tkdd) 1.1 (2007): 3-es.

In [6]:
import numpy as np
import pandas as pd

# Original Dataset

Non-sensitive data: Zip Code, Age, Nationality

Sensitive data: Condition

In [17]:
data = pd.read_csv('../../assets/datasets/k_dataset.csv')

data

    Id  Zip Code  Age Nationality        Condition
0    1     13053   28     Russian    Heart Disease
1    2     13068   29    American    Heart Disease
2    3     13068   21    Japanese  Viral Infection
3    4     13053   23    American  Viral Infection
4    5     14853   50      Indian           Cancer
5    6     14853   55     Russian    Heart Disease
6    7     14850   47    American  Viral Infection
7    8     14850   49    American  Viral Infection
8    9     13053   31    American           Cancer
9   10     13053   37      Indian           Cancer
10  11     13068   36    Japanese           Cancer
11  12     13068   35    American           Cancer

# K-anonymity

## Creating a k-anonymous dataset

In [1]:
data.loc[:4, 'Zip Code'] = '130*'
data.loc[:4, 'Age'] = '<30'
data.loc[:4, 'Nationality'] = '*'

data.loc[5:8, 'Zip Code'] = '1485*'
data.loc[5:8, 'Age'] = '>40'
data.loc[5:8, 'Nationality'] = '*'

data.loc[9:12, 'Zip Code'] = '130*'
data.loc[9:12, 'Age'] = '3*'
data.loc[9:12, 'Nationality'] = '*'

data

NameError: name 'data' is not defined

## Attack on k-anonymous dataset

In [ ]:
attack_dataset = data = pd.DataFrame({
    "Name":["Bob"],
    "Age":["31"],
    "Zip Code":["13053"],
})

attack_dataset

  Name Age Zip Code
0  Bob  31    13053

Bob can be one of rows 9-12. All of these rows have the condition "Cancer". Ergo, Bob has cancer.

# L-diversity

In [21]:
l_data = data.copy()

l_data = l_data.reindex([0, 3, 8, 9, 4,5, 6,7,1,2,10,11])
'''
data.loc[:4, 'Zip Code'] = '1305*'
data.loc[:4, 'Age'] = '<40'
data.loc[:4, 'Nationality'] = '*'

data.loc[5:8, 'Zip Code'] = '1485*'
data.loc[5:8, 'Age'] = '>40'
data.loc[5:8, 'Nationality'] = '*'

data.loc[9:12, 'Zip Code'] = '130*'
data.loc[9:12, 'Age'] = '3*'
data.loc[9:12, 'Nationality'] = '*'
'''

l_data

    Id  Zip Code  Age Nationality        Condition
0    1     13053   28     Russian    Heart Disease
3    4     13053   23    American  Viral Infection
8    9     13053   31    American           Cancer
9   10     13053   37      Indian           Cancer
4    5     14853   50      Indian           Cancer
5    6     14853   55     Russian    Heart Disease
6    7     14850   47    American  Viral Infection
7    8     14850   49    American  Viral Infection
1    2     13068   29    American    Heart Disease
2    3     13068   21    Japanese  Viral Infection
10  11     13068   36    Japanese           Cancer
11  12     13068   35    American           Cancer